body{
  background: blue;
}
#box3 {
  width: 200px;
  height: 100px;
  background-image: url(../images/sprite/icon_renren.png);
}

#box4 {
  width: 200px;
  height: 100px;
  background-image: url(../images/sprite/icon_weibo.png);
}
